<!-- ------------------------ -->
<!-- 概要：サイトフッターHTML -->
<!-- ------------------------ -->
{% load static %}
<footer class="w-100 overflow-x-auto m-0 p-0">
    <!-- カード -->
    <div class="card bg-dark bg-gradient text-white rounded-0 py-2 px-3">
        <!-- フータートップ線 -->
        <div class="card-body border-top border-light border-1 my-4"></div>
        <!-- フーターメインエリア -->
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-7 mb-3 px-1">
                    <a href="{% url 'k_lend_app:record_list' %}"
                        class="d-flex align-items-center justify-content-center mb-3 text-decoration-none my-3">
                        <div class="mx-2">
                            <img src="{% static 'img/base_icon.png' %}" width="48" height="48">
                        </div>
                        <div class="mx-2 pt-1">
                            <h4 class="text-white">K-LEND</h4>
                        </div>
                    </a>

                    <div class="text-center">
                        <p>
                            KAISHI LAB 貸出管理システム
                        </p>
                    </div>
                </div>

                <div class="col row mt-3">
                    <div class="col-6 mb-3 mx-auto" style="width: 200px;">

                        <h5>機能一覧</h5>
                        <ul class="nav flex-column px-2">
                            <li class="nav-item mb-2"><a href="{% url 'k_lend_app:record_list' %}"
                                    class="nav-link p-0 link-light link-opacity-50-hover">貸出記録管理</a></li>
                            <li class="nav-item mb-2"><a href="{% url 'k_lend_app:equipment_list' %}"
                                    class="nav-link p-0 link-light link-opacity-50-hover">機材管理</a></li>
                            <li class="nav-item mb-2"><a href="{% url 'k_lend_app:account_list' %}"
                                    class="nav-link p-0 link-light link-opacity-50-hover">アカウント管理</a></li>
                        </ul>
                    </div>

                    <div class="col-6 mb-3 mx-auto" style="width: 200px;">

                        <h5>その他</h5>
                        <ul class="nav flex-column px-2">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 link-light link-opacity-50-hover dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    アカウント
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="py-1 px-2 text-center fw-bold">
                                        {{ request.user.last_name }} {{ request.user.first_name }}
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#LogoutModal">
                                            ログアウト
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item mb-2">
                                <a href="{% url 'k_lend_app:document' 'manual' %}"
                                    class="nav-link p-0 link-light link-opacity-50-hover">
                                    マニュアル
                                </a>
                            </li>

                            <li class="nav-item mb-2">
                                <a href="{% url 'k_lend_app:document' 'license' %}"
                                    class="nav-link p-0 link-light link-opacity-50-hover">
                                    ライセンス
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- フーターボトム -->
        <div class="card-body my-4 py-4"></div>
        <div class="card-body">
            <div class="text-center my-4">
                <small>&copy; K-LEND作成者</small>
            </div>
        </div>
        
        <!-- ------------------------ -->
        <!-- ログアウトモーダルHTML -->
        <!-- ------------------------ -->
        <div class="modal fade" id="LogoutModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-secondary-emphasis">
                            ログアウトしますか？
                        </h4>
                        <p class="text-danger">注意：システム利用には再度ログインが必要です</p>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <form action="{% url 'k_lend_app:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">
                                    ログアウト
                                </button>
                            </form>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>