<!-- ------------------------ -->
<!-- 概要：アカウント2FAHTML -->
<!-- ------------------------ -->
{% extends 'base.html' %}
{% load static %}
{% block csslink %}

{% endblock %}

{% block title %}
二要素認証設定
{% endblock %}

{% block content %}
{% include 'partials/header.html' %}

<main class="container py-4" style="min-height: 80vh;">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'k_lend_app:record_list' %}">トップ</a></li>
            <li class="breadcrumb-item"><a href="{% url 'k_lend_app:account_list' %}">アカウント管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">二要素認証設定</li>
        </ol>
    </nav>

    <div class="card border-0">
        <h1 class="card-title fs-3 px-2 mt-2">
            二要素認証設定
        </h1>

        <div class="card-body overflow-x-scroll">
            <div class="card-title fs-5">二要素認証</div>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-light" style="width: 150px;">ステータス</th>
                        <td class="text-nowrap fs-4 px-3">
                            {% if request.user.is_2fa_enabled %}
                                <span class="badge bg-primary">有効</span>
                            {% else %}
                                <span class="badge bg-danger">無効</span>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th class="bg-light" style="width: 150px;">アクション</th>
                        <td class="px-3">
                            <form method="post">
                                {% csrf_token %}
                                {% if request.user.is_2fa_enabled %}
                                    <button type="submit" class="btn btn-outline-danger text-nowrap mx-1 my-2 px-3"
                                            name="button_action" value="disable_2fa"
                                            onclick="return confirm('二要素認証を無効化しますか？');">
                                            無効化する
                                    </button>
                                {% else %}
                                    <div class="text-start my-2 overflow-x-auto">
                                        <p>QRコードをスマートフォンの認証アプリで読み取ってください。</p>
                                        <p>（Google Authenticator, Microsoft Authenticatorなど）</p>
                                        <img src="data:image/png;base64, {{ qrcode_base64_str | safe }}"  
                                            class="img-fluid img-thumbnail" alt="2FA QRコード" style="max-width: 150px;">
                                    </div>
                                    <!-- ワンタイムトークン -->
                                    <div class="my-1">
                                        <label for="bf_one_time_token" class="form-label">生成させたトークンを入力してください</label>
                                        <input type="text" class="form-control prevent-forms-submit-enter" id="bf_one_time_token"
                                            name="bf_one_time_token" placeholder="00000000" minlength="4" maxlength="24" style="max-width: 300px;" required>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary text-nowrap mx-1 my-2 px-3"
                                            name="button_action" value="enable_2fa">
                                            有効化する
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

{% include 'partials/footer.html' %}

{% endblock %}